mat-card {
  max-width: 70%;
  margin: 2em auto;
  text-align: center;
}

mat-grid-tile {
  background: lightblue;
  display: flex;
  align-items: left;
  text-align: left;
}
.toolbar-month {
  padding-top: 10px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  font-family: Montserrat, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.title-size {
  font-size: x-large;
}
